<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="homeStyle" />
    <script src="homeScript" defer></script>
  </head>
  <body>
    <nav>
      <a href="/login">Login</a>
    </nav>
    <h1>Home Page</h1>
    <pre>
      Yam ha'shibolim she'misaviv
      Al galav la'shut yats'a haruach
      Elef chiyuchim elay shalach ha'aviv
      Shemesh chaviva yats'a la'suach.
    </pre>
    <button id="btn">Send Request</button>
  </body>
</html>
