body {
  font-family: sans-serif;
  color: #ddd;
  background-color: #333;
  text-align: center;
}

#display-students-btn {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #000;
  color: #fff;
  padding: 1rem 1.5rem;
  letter-spacing: 1.8px;
  cursor: pointer;
  border: none;
  outline: none;
}

#display-students-btn:hover {
  color: #000;
  background-color: #fff;
}

#display-students-btn:active {
  transform: scale(0.9);
}

#table-container {
  margin-top: 3rem;
}

table {
  margin: 0 auto;
  font-size: 1.5rem;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 1.5rem;
}