body {
  font-family: sans-serif;
  text-align: center;
}

ul {
  list-style-type: none;
}

li {
  margin: 7px;
}

a {
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

table {
  margin: 2rem auto;
  border-collapse: collapse;
  border: 3px solid black;
}

th,
td {
  border: 1px solid black;
  padding: 10px;
}
